setuptools~=50.3.0
numpy~=1.19.2
mcerp~=0.12
scipy>=1.5.2
uncertainties~=3.1.4
matplotlib>=3.3.2
soerp~=0.9.6
openmc~=0.12.1.dev0

pip~=19.2.3
wheel~=0.35.1
py~=1.9.0
lxml~=4.5.2
Cython~=0.29.21
future~=0.18.2
lmfit~=1.0.1
Pint~=0.16.1
sympy~=1.8.dev0
mpmath~=1.1.0
pytest~=6.0.2
decorator~=4.4.2
requests~=2.24.0
ipython~=7.16.1
scikit-learn~=0.24.1
sortedcontainers~=2.3.0