numpy>=1.26.4
scipy>=1.12.0
uncertainties>=3.1.7
matplotlib>=3.6.0
lmfit>=1.2.2
sortedcontainers>=2.4.0
numdifftools
bitstring>=4.1.4
pandas
openssl
cycler
numba>=0.59.0
sortednp>=0.5.0
pendulum>=3.0.0
send2trash>=1.8.2